*{
    background-color: brown;
    margin: 0;
    padding: 0;
    position: relative;
}
header a{
    color: #ffffff;
    text-decoration: none;
    background: none;
    font-size: 15px;
    top: 30%;
}
header a:hover{
    cursor: pointer;
    color: #dad3d3;
    transition: 0.5s;
    opacity: 0.5;
}

header img{
    background: none;
    top: 25%;
}
header img:hover{
    border: #dad3d3;
    cursor:alias;
}
#phone{
    left: 0%;
}
 a{
    left: 8%;
    margin-right: 20px;
}
#location{
    position: absolute;
    text-align: center;
    left: 50%;
}
.location_text{
    position: absolute;
    left: 53.5%;
    top: 30%;
    text-align: center;
}
#insta{
    position: absolute;
    right:16%;

}
.insta_text{
    position: absolute;
    left: 85%;
    top: 10%;
}
.block_1{
    width: 100%;
    height: 42px;
    background-color: rgb(38, 78, 65);
    
    
}
.block_2 b{
    right: 80%;
    top: 10px;
}

.block_2{
    top: 100%;
    color: rgb(255, 255, 255);
    text-align: right;
    right: 5%;
}
.block_3 h2{
    color: #000000;
    left: 15%;
    margin: 20% 5% auto auto ;
    font-size: 32px;
}
.block_3 h4{
    margin-top: 1%;
    color: #000000;
    left: 15%;
    font-weight: 100;
    margin: 2% auto 2% auto;
}
.block_3 button{
    left: 15%;
    top: -430px;
    width: 100px;
    height: 35px;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    
}
.block_3 button:hover{
    cursor: pointer;
    background-color: aqua;
    transition: 0.6s;
    opacity: 0.4;
}
.block_3 img{
    width: 30%;
    height: 30%;
    left: 60%;
    top: -400px;
}
