
*{
    box-sizing: border-box;
    margin: 0;
}



.header{
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%); 
    padding: 20px 100px;
}

header svg{
    width: 20px;
    height: 20px; 
}

header a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px; 
}

.main_info{
    width: 1250px;
    height: 704px;
    
}

menu{
    margin-left: 10px;
}


menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.left_nav, .center_nav, .right_nav{
    display: flex;
    align-items: center;
}

.center_nav a:hover, .right_nav:hover{
    transform: scale(1.2);
    transition: 0.5s ease-in;
}

.iconka span{
    display: flex;
    align-items: center;
    margin-left: 150px;
    margin-top: 40px;
    font-size: 30px;
    
}


.iconka{
    display: flex;
    justify-content: space-between;
    width: 100%;
}
.iconka svg{
    display: flex;
    margin-bottom: 0px;

}

ul svg, ul h3{
    float: inline-start;
    margin-right: 250px;
    border: 1px solid black;
}



ul {
    display: inline-flex;
    flex-direction: row;
    float: right;
    margin-top: 50px ;
    margin-right: 50px;
    gap: 40px;
    color: #7a7979;
    list-style-type: none;
}

ul a{
    text-decoration: none;
    color: #7a7979;
    font-weight: 200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 15px;
}

li > a:hover{
    cursor: pointer;
    color: #453939;
    opacity: 0.5;
    transition: 0.5s ease-in;
    
}

.innovation {
    display: inline-flex;
    flex-direction: column;
    margin-top: 200px;
    margin-left: 0px;
    gap: 18px;
    height: 250px;
}

.innovation h2{
    font-size: 40px;
}

.innovation h4{
    font-weight: 200;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 20px;
}

.innovation button{
    background: linear-gradient(95.2deg, #B90160 2.23%, #2E3192 99.51%);
    border-radius: 7px;
    font-weight: 900;
}

.innovation  #one{
    display: flex;
    flex-direction: column;
    gap: 20px;
    margin-left: 150px;
}
.innovation #two{
    display: flex;
    margin-left: 900px;
    margin-top: -290px;
    scale: 1.8;
}





/* @media (min-width: 320px) and (max-width: 767px){
    .main{
        color: red;
    }
    .info{
        color: blue;
        background-color: aqua;
    }
} 
@media (min-width: 768px) and (max-width: 1024px){}  */

body {font-family: Arial, Helvetica, sans-serif;}

#myBtn {

  color: white;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 180px;
}
#myBtn:hover{
    transform: scale(1.5);
    transition: 1s ease;
}

.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}

.modal-content {
    position: relative;
    background-color: #E1BEE7;
    margin: auto;
    padding: 0;
    border: 5px solid #7B1FA2;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}

@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    cursor: pointer;
    transition: 0.6s;
}

.modal-header, .modal-footer {
    padding: 2px 16px;
    background-color: #a059ad;
    color: white;
}

.modal-body {padding: 2px 16px;}


/* Здесь заканчивается модальное окно */



.EVA{
    text-align: center;
    margin-top: 0;
}
.EVA span{
    background-image: linear-gradient(90.14deg, #D4145A 3.35%, #3D5BF5 91.43%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}

.galery h2{
    text-align: center;
    font-size: x-large;
    font-weight: 100;
}
.galery span{
    color: #8a2f2f;
}

.galery{
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 50px;
}
div img{
    display: flex;
    justify-content: space-around;
    
    width: 300px;
    height: 300px;
}

div .cont{
    display: flex;
    justify-content: space-around;
    
    width: max-content;
    height: 100px;
}

.desc{
    display: inline-block;
    border-radius: 5px;
    background-color: #bda2c2;
    max-width: 350px;
    height: 400px;
    margin-bottom: 50px;
    margin: 20px;
    text-align: center;
}

.desc span img{
    width: 350px;
    height: 200px;
    justify-content: space-between;
    border-radius: 5px;
}
.desc p{
    text-align: left;
    margin-left: 20px;
}

.reviews{
    padding: 50px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background: linear-gradient(94.31deg, rgba(212, 20, 90, 0.25) 0.96%, rgba(46, 49, 146, 0.25) 104.83%);

}
.review {
    justify-content: space-around;
    background: #ffffff;
    border-radius: 3px;
    box-shadow: #000;
}
.review p{
    text-align: center;
    margin: 20px;
}
.review h5{
    text-align: center;
    margin-bottom: 20px;
}

.review hr{
    align-self: center;
    width: 100px;
    margin: 0 35% 0 35%;
    display: inline-flex;
    border: 2px solid;
    background-color: linear-gradient(90.14deg, #D4145A 3.35%, #3D5BF5 91.43%);
    color: transparent;
    background-clip: text;
    -webkit-background-clip: text;
}
#rew_one{
    opacity: 0.6;
    margin-left: 0;
}
#rew_three{
    opacity: 0.6;
}
#rew_one:hover, #rew_three:hover{
    opacity: 1;
    scale: 1.15;
    transition: 0.6s;
}

#rew_two::after{
    opacity: 0.6;
}

footer {
    display: flex;
    margin: 50px;
    justify-content: space-around;
}
footer a{
    font-size: 10px;
    font-weight: 600;
    text-decoration: none;
}

footer a:hover{
    color:#7a7979;
    transition: 0.5s;
    transform: scale(1.3);
}

footer h5{
    margin-top: 20px;
    font-weight: 500;
}


footer a img{
    float: left;
    margin-top: 30px;
    border: 2px solid black;
    padding: 10px;
}


    

