
*{
    box-sizing: border-box;
    margin: 0;
}



.header{
    background: linear-gradient(269.91deg, rgba(46, 49, 146, 0.7) 0%, rgba(212, 20, 90, 0.7) 98.16%); 
    padding: 20px 100px;
                   


}
header svg{
    width: 20px;
    height: 20px; 
}
header a{
    text-decoration: none;
    color: #ffffff;
    margin-right: 10px;
    
}
:hover{
    cursor: pointer;
}
menu{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.left_nav{
    display: flex;
    align-items: center;
}
.center_nav{
    display: flex;
    align-items: center;
   
}
.right_nav {
    display: flex;
    align-items: center;
    
}


.desc{
    display: flex;
    flex-direction: row;
}

ul{
    display: inline-flex;
    flex-direction: row;
    float: inline-end;
    margin-right: 100px;
    margin-top: 50px ;
    gap: 40px;
    color: #7a7979;
    list-style-type: none;
}
ul a{
    text-decoration: none;
    color: #7a7979;
    font-weight: thin 100 italic;
    font-size: medium;
}
li > a:hover{
    cursor: pointer;

}



/* @media (min-width: 320px) and (max-width: 767px){
    .main{
        color: red;
    }
    .info{
        color: blue;
        background-color: aqua;
    }
} 
@media (min-width: 768px) and (max-width: 1024px){}  */

body {font-family: Arial, Helvetica, sans-serif;}

#myBtn {
  background-color: #9C27B0;
  color: white;
  padding: 12px 16px;
  font-size: 18px;
  font-weight: bold;
  border: none;
  cursor: pointer;
  width: 180px;
}


.modal {
    display: none; 
    position: fixed; 
    z-index: 1; 
    padding-top: 100px; 
    left: 0;
    top: 0;
    width: 100%; 
    height: 100%; 
    overflow: auto; 
    background-color: rgb(0,0,0); 
    background-color: rgba(0,0,0,0.4); 
}


.modal-content {
    position: relative;
    background-color: #E1BEE7;
    margin: auto;
    padding: 0;
    border: 5px solid #7B1FA2;
    width: 50%;
    box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2),0 6px 20px 0 rgba(0,0,0,0.19);
    -webkit-animation-name: animatetop;
    -webkit-animation-duration: 0.4s;
    animation-name: animatetop;
    animation-duration: 0.4s
}


@-webkit-keyframes animatetop {
    from {top:-300px; opacity:0} 
    to {top:0; opacity:1}
}

@keyframes animatetop {
    from {top:-300px; opacity:0}
    to {top:0; opacity:1}
}


.close {
    color: white;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.modal-header {
    padding: 2px 16px;
    background-color: #9C27B0;
    color: white;
}

.modal-body {padding: 2px 16px;}

.modal-footer {
    padding: 2px 16px;
    background-color: #9C27B0;
    color: white;
}
